<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-13">
        <form (ngSubmit)='findUser()' #userForm = 'ngForm' class="form-inline" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder=" Search username" [(ngModel)] = "username" name="username" >
                <button type="Submit" class="btn btn-primary"> Search</button>
                
                
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row" *ngIf="User">
    <div class="row">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{user.image}}" class="img-rounded" alt="User Image" height="250">
            </div>
            <div class="col-sm-9">
                <h1 class="details">{{user.username}}</h1>
                <h2 class="details">Username: {{user.login}}</h2>
                <p class="details">{{user.profile}}</p>
                <p class="details"><a href="{{user.link}}" class="btn btn-primary">View on github</a></p>
            </div>
        </div>
        <div class="row">
            <h3>Repositories</h3>
            <div class="row" *ngFor="let repo of repos">
                <div class="col-sm-12">
                    <p>{{repo.name}}</p>
                    <p>{{repo.description}}</p>
                    <a href="{{repo.repo}}" class="btn btn-sucess btn-info">View this project</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
