<div  *ngIf="user">
    <div class="panel panel-default">
<div class="row">
            <div class="col-sm-4 p-4">
                <img src="{{users.avatar_url}}" class="img-rounded" alt="User Image" height="250">
            </div>
            <div class="col-sm-8">
                <h1 class="details">{{users.username}}</h1>
                <p class="details">{{users.login}}</p>
                <p class="details">{{users.Bio}}</p>
                <p class="details"><a href="{{users.gitlink}}" class="btn btn-success">View on github</a></p>
            </div>
        <div class="row">
            <h3>Repositories</h3>
            <div class="row" *ngFor="let repo of repo">
                <div class="col-sm-12 p-4">
                    <h4></h4>
                    <p></p>
                    <a href="{{users.repo}}" class="btn btn-sm btn-info">View this project</a>
                    <hr>
                </div>
            </div>
        </div>
</div>
</div>
</div>
